.cover__overlay {
  width: 100%;
  margin: 0 auto;
  padding-top: calc((62.5% - 250px) / 2);
  padding-bottom: calc((62.5% - 250px) / 2);
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.5s;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    padding-top: calc((62.5% - 134px) / 2);
    padding-bottom: calc((62.5% - 134px) / 2);
  }
}
